*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Arial", sans-serif;
}

header{
   background-color: #FFACD4;
}
li{
   list-style: none;
   font-size: 24px;
}
a{
   color: #E9328B;
   text-decoration: none;
   font-weight: bold;
}
.navbar{
   min-height: 70px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 24px;
}
.nav-menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 60px;
}
.nav-branding{
   font-size: 2rem;
}
.nav-link{
   transition: 0.7s ease;
}
.nav-link:hover{
   text-decoration: underline overline;
   color: #E9328B;
}

.lines{
   display: none;
   cursor: pointer;
}
.line{
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: #7E1037;
}

@media(max-width:768px) {
   .lines{
      display: block;
   }
   .lines.active .line:nth-child(2){
      opacity: 0;
   }
   .lines.active .line:nth-child(1){
      transform: translate(-1px) rotate(45deg);
   }
   .lines.active .line:nth-child(3){
      transform: translate(-1px) rotate(-45deg);
   }

   .nav-menu{
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: #FEC9C3;
      width: 100%;
      text-align: center;
      transition: 0.3s;
   }
   .nav-item{
      margin: 16px 0;
   }
   .nav-menu.active{
      left: 0;
   }
   li{
      font-size: 18px;
   }
}
/*----end of header-----*/
.hero{
   background-color: #fef1e1;
   overflow: hidden;
}
figure{
  width: 90%;
  margin: 65px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
figcaption{
   flex: 1;
   width: 600px;
   margin: 0px 25px;
}
figcaption h1{
   font-size: 38px;
   margin-bottom: 20px;
   color: #042440;
}
figcaption p{
   font-size: 24px;
   line-height: 1.5;
   color: #59748d;
}
img{
   flex: 1;
   width: 600px;
   height: auto;
   margin: auto;
   border-radius: 10px;
}

@media(max-width:768px) {
   .hero{
      margin: 0px;
   }
   figure{
      width: 100%;
      flex-direction: column;
      margin: 0px;
      padding: 0px 40px;
   }
   figcaption{
      width: 100%;
      margin: 35px 0px;
   }
   figcaption h1{
      font-size: 30px;
   }
   figcaption p{
      font-size: 18px;
   }
   img{
      width: 500px;
      margin-bottom: 20px;
   }
}
/*----end of figure-----*/

.form{
   width: 100%;
   height: 80vh;
   background-image: url("pinky.jpg");
   background-size: cover;

}
.form-popup{
   position: relative;
   top: 50%;
   left: 50%;
   max-width: 720px;
   width: 100%;
   height: 72%;
   background: #fef1e1;
   border: 3px solid #E9328B;
   border-style: ridge;
   box-shadow: 10px 5px 5px #FEC9C3;
   transform: translate(-50%, -50%);
}
.form-popup .form-box{
   display: flex;
}
.form-details{
   max-width: 330px;
   width: 100%;
   display: flex;
   text-align: center;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 18% 35px 20% 35px;
}
.form-box h2{
   text-align: center;
   margin-bottom: 30px;
   color: #042440;
}
.form-box p{
   color: #59748d;
}
.form-box .form-content{
   width: 100%;
   padding: 35px;
}
form .input-field{
   height: 45px;
   width: 100%;
   margin-top: 20px;
}
form .input-field input{
   width: 100%;
   height: 100%;
   outline: none;
   padding: 0 15px;
   font-size: 0.95rem;
   border-radius: 3px;
   border: 1.5px solid #717171;
}
.input-field input:focus{
   border-color: #E9328B;
}
form .input-field label{
   color: #E9328B;
}
form .click{
margin-top: 35%;
padding-top: 10px;
}
.form-box a{
   color: #E9328B;
   text-decoration: none;
}
.form-box a:hover{
   text-decoration: underline;
}
form button{
   width: 100%;
   outline: none;
   border: none;
   font-size: 1rem;
   font-weight: 600;
   padding: 14px 0;
   border-radius: 3px;
   margin: 25px 0;
   color: #fff;
   cursor: pointer;
   background-color: #E9328B;
   transition: 0.2s ease;
}
form button:hover{
   background-color: #FEC9C3;
   color: #042440;
}
.form-box .bottom-link{
   text-align: center;
}
/*----end of Sign In----*/

/*----Start of Table----*/
.tables{
   height: 60vh;
   width: 100%;
}
.tables h2{
text-align: center;
padding-top: 70px;
font-size: 38px;
color: #042440;
}
table{
   position: relative;
   z-index: 2;
   left: 50%;
   top: 35%;
   transform: translate(-50%, -50%);
   width: 60%;
   height: 200px;
   text-align: center;
   border-collapse: collapse;
   border-spacing: 0;
   border-radius: 12px 12px 0 0;
   box-shadow: 0 3px 13px rgba(32,32,32,.3);
   overflow: hidden;
   background:#F67BB6;
   color: #042440;
}
th, td{
   padding: 12px 15px;
}
th{
   background: #E9328B;
   color: #fafafa;
   text-transform: uppercase;
}
tr:nth-child(odd){
   background-color: #FFACD4;
}
/*----End of TABLE--*/

/*----Start of Vid and Audio element----*/
article{
   width: 100%;
   height: 95vh;
   background: #fef1e1;
}
article h2{
   text-align: center;
   padding-top: 50px;
   padding-bottom: 20px;
   font-size: 38px;
   color: #042440;
}
article p{
   text-align: center;
   padding-bottom: 20px;
   font-size: 24px;
   color: #59748d;
}

.row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   margin-left: 25%;
   margin-right: 20%;
}
.coll{
   flex-basis: 50%;
   min-width: 250px;
}
/*---End of Vid and Audio----*/

.footer-content{
   background: #FFACD4;
   height: 25vh;
   font-family: 'Noto+Serif';
   padding-top: 10px;
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;

}
.footer-content h3{
   font-size: 30px;
   font-weight: bolder;
   line-height: 3rem;
   color: #E9328B;
}
.footer-content p{
   max-width: 500px;
   margin: 10px auto;
   line-height: 28px;
   font-size: 15px;
   font-weight: 525;
   color: #042440;
}

/*END OF FOOTER*/
